body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #ffe4e6, #fbcfe8, #f9a8d4);
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

.home-heading {
  font-size: 3rem;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
  text-align: center;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 400px;
}

.home-button {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 16px;
  color: white;
  cursor: pointer;
  background: linear-gradient(to top left, #ec4899, #f9a8d4);
  box-shadow: 0 8px 0 #a21caf, 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  top: 0;
}

.home-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 0 #a21caf, 0 12px 24px rgba(0, 0, 0, 0.3);
}

.home-button.student {
  background: linear-gradient(to top left, #ec4899, #f9a8d4);
    width: 300px;

}

.home-button.admin {
  background: linear-gradient(to top left, #f472b6, #fbcfe8);
  width: 300px;
}

.home-button.dashboard {
  background: linear-gradient(to top left, #f9a8d4, #fecdd3);
  width: 300px;
}
